#anchor{
    -fx-background-color: white;
    -fx-border-width: 0;
}

.Cnumbers{
    -fx-background-color: #105571;
	-fx-font-weight: bold;
	-fx-font-size: 25;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	    -fx-border-width: 0;
}
.Cnumbers:hover{
    -fx-background-color: white;
	-fx-text-fill: #105571;
	-fx-border_radius: 0;
	-fx-border-color: #105571;
	-fx-border-width: 3;

}
.Cnumbers:pressed{
    -fx-border-color: #3594ba;
    -fx-text-fill: #3594ba;

}
.Coperators{
    -fx-background-color: #0a2b51;
    -fx-background-radius: 0;
	-fx-font-weight: bold;
	-fx-font-size: 25;
	-fx-text-fill: white;
	    -fx-border-width: 0;
}
.Coperators:hover{
    -fx-background-color: white;
	-fx-text-fill: #0a2b51;
	-fx-border_radius: 0;
	-fx-border-color: #0a2b51;
	-fx-border-width: 3;

}
.Coperators:pressed{
    -fx-border-color: #18497f;
    -fx-text-fill: #18497f;
}
.Mbuttons{
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.Mbuttons:hover{
    -fx-background-color: #848484;
}
.Mbuttons:pressed{
    -fx-background-color: #6f6f6f;
    -fx-text-fill: #bdbdbd;
}

#Night_mode
{
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-cursor: hand;
}
#Extend
{
    -fx-background-color: #e7a937;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-cursor: hand;
}
#Extend2
{
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-cursor: hand;
}


#equals{
    -fx-background-color: #f57818;
    -fx-background-radius: 0;
	-fx-font-weight: bold;
	-fx-font-size: 25;
	-fx-border-radius: 0;
    -fx-border-color: #f57818;
}

#equals:hover{
    -fx-background-color: white;
	-fx-text-fill: #f57818;
	-fx-border_radius: 0;
	-fx-border-color: #f57818;
	-fx-border-width: 3;
}
#equals:pressed{
    -fx-border-color: #e7a937;
    -fx-text-fill: #e7a937;
}

#memory_Label{
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 5;
}
#result_Label{
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 5;
}

#Theme_choice{
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

#Theme_choice .context-menu{
    -fx-background-color: #e6e6e6;;
}

#Theme_choice .menu-item:focused{
    -fx-background-color: #bdbdbd;
}

#Theme_choice .menu-item > .label{
    -fx-text-fill: grey;
}

#Theme_choice .menu-item:focused > .label{
    -fx-text-fill: black;
}

.choice-box > .label{
    -fx-text-fill: #272727;
    -fx-alignment: center;
 }